{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="max-w-2x2 mx-auto mt-16 bg-neutral-primary-soft p-10 rounded-base shadow-sm border border-default">

  <form action="/eliminar?id={{id}}" method="POST" class="space-y-10">
    
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="id" value="{{ id }}">
    <div class="grid md:grid-cols-2 gap-x-8 gap-y-12">

      {{ macros.camponuevo(form.nombre) }}
      {{ macros.camponuevo(form.apellidos) }}
      {{ macros.camponuevo(form.correo) }}
      {{ macros.camponuevo(form.telefono) }}

    </div>

    <!-- Botón -->
    <div class="flex justify-center pt-6">
      <form method="GET">
               <a href="/alumnos"
                class="inline-block text-white bg-brand border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium font-medium rounded-base text-sm px-4 py-2 focus:outline-none">
                  Cancelar
              </a>
      </form>
      <button type="submit"
        class="bg-red-600 hover:bg-red-700 text-white focus:ring-4 focus:ring-red-300 shadow-xs font-medium rounded-base text-sm px-8 py-3 transition">
        Eliminar Alumno
      </button>
    </div>

  </form>

</div>

{% endblock %}