{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="max-w-2xl mx-auto mt-16 bg-neutral-primary-soft p-10 rounded-base shadow-sm border border-default">

  <form action="/eliminar?id={{id}}" method="POST" class="space-y-10">
    
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="id" value="{{ id }}">
    <div class="grid md:grid-cols-2 gap-x-8 gap-y-12">

      <div>
        {{ macros.camponuevo(form.nombre) }}
      </div>

      <div>
        {{ macros.camponuevo(form.apaterno) }}
      </div>

      <div class="md:col-span-2">
        {{ macros.camponuevo(form.correo) }}
      </div>

    </div>

    <!-- Botón -->
    <div class="flex justify-center pt-6">
      <button type="submit"
        class="bg-red-600 hover:bg-red-700 text-white focus:ring-4 focus:ring-red-300 shadow-xs font-medium rounded-base text-sm px-8 py-3 transition">
        Eliminar Alumno
      </button>
    </div>

  </form>

</div>

{% endblock %}